# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db
desktop.ini

# Variables de entorno y credenciales
.env
# Guía personal, no forma parte de la entrega
/notas_personales/